html {
  overflow: hidden;
}

body {
  background-image: linear-gradient(to bottom right, #032e3e, #19646a);
  background-repeat: no-repeat;
  min-height: 100vh;
}

header {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: rgba(255, 255, 255, 0.678);
  font-size: 35px;
  line-height: 50%;
  z-index: 0;
  overflow: hidden;
}

.content h1 {
  letter-spacing: 10px;
}

.content img {
  border: 5px solid rgba(255, 255, 255, 0.253);
  border-radius: 50%;
  max-width: 200px;
  animation: fadein 3s;
  margin-top: 75px;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
}

.content p {
  animation: fadein 3s;
  max-width: 50%;
}

.content i.fa-envelope {
  animation: fadein 1s;
}

.content i.fa-linkedin {
  animation: fadein 6s;
}

.content i.fa-instagram {
  animation: fadein 4s;
}

.content i.fa-github {
  animation: fadein 3s;
}

.content h1 {
  position: relative;
  animation: fadein 3s;
  transition: all 0.2s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content i {
  margin: 10px 43px;
  transition: all 0.2s ease-in-out;
}

.container a {
  text-decoration: none;
  color: black;
}

.container i:hover {
  color: rgba(255, 255, 255, 0.678);
  font-size: 50px;
}

h2 {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.678);
  letter-spacing: 2px;
}

.footer {
  display: flex;
  text-align: center;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: scroll;
}

ul li {
  list-style-type: none;
}

ul li.active a {
  color: rgba(255, 255, 255, 0.678);
}

li a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: all 200ms;
}

.content.snake {

  display: block;
  text-align: center;
  align-items: center;

}
.content.snake iframe {
  width: 400px;
  height: 400px;
}

.content.snake p { 
  font-size: 20px;
  margin: 10px auto;
   
}

.content.works ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
  text-transform: none;
}

.content.works li {
  margin: 10px 10px;
  justify-content: center;
  animation: fadein 3s;
  line-height: 100%;
  font-size: 18px;
  text-align: center;
}

.content.works li a:hover {
  color: rgba(255, 255, 255, 0.685);
}

.content.works iframe{

  height: 100%;
  width: 100%;
}
.contact {
  flex-direction: row;
  overflow: hidden;
 
}


.contact ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact li a {
  padding: 10px 10px;
}

@media (max-width: 754px) {
  .footer {
    width: 100%;
  }

  .content h1 {
    line-height: 150%;
    letter-spacing: 20px;
    transform: scale(0.6);
    transition: transform 1s;
  }

  .content p {
    animation: fadein 3s;
    max-width: 90%;
  }
}

.footer ul li a,
.footer ul li a:after,
.footer ul li a:before {
  transition: all 0.5s;
}

.footer ul li a:hover {
  color: rgba(255, 255, 255, 0.678);
}

/* stroke */
.footer ul li a {
  position: relative;
}

.footer ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgba(255, 255, 255, 0.678);
  height: 3px;
}

.footer ul li a:hover:after {
  width: 80%;
}

